body {
    background-image: url(istockphoto-1182393436-612x612.jpg); 
}
  
  h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  form {
    text-align: center;
    border-style: solid;
    border-color: gray;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 8px;
    margin: auto; 
    width: 200px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

#logo{
    width: 50px;
    height: 30px;
}
a{
    text-decoration: none;
    color: black;

}
a:hover{
    color: blue;
    text-decoration: underline;
    }
button{
    background-color: rgb(200, 203, 205);
}